.login_label {
    position: relative;
}

.login_input {
    margin-left: 10px;
}

.login_area {
    margin: 25px !important;
}

.dashboard {
    padding: 20px;
}

.book_item {
    margin: 20px 0;
}

.book_data {
    margin: 0 15px;
}

.book_button {
    margin: 5px 10px !important;
}